# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environnement
.env
.env.local
.env.*.local


# Données
data/
*.json

# Système
.DS_Store
Thumbs.db

# Éditeurs
.idea/
.vscode/
*.swp
*.swo
 
# Logs
logs/
*.log
